{% extends "base.html" %}

{% block content %}


<div class = "row">  
	<div class = "col-md-5"><h1>Welcome To Moogit</h1></div> 
	<div class = "col-md-2"><h4>a place for shows<h4></div>
</div>


<br><br>
<div class = "jumbotron">
<div class = "row">
    <div class = "col-md-4">
		<button type="button" class="btn btn-primary btn-lg">Sort by Date</button>
	</div>

    <div class = "col-md-4">
		<button type="button" class="btn btn-primary btn-lg">Sort by Area</button>
	</div>

	<div class = "col-md-4">
		<button type="button" class="btn btn-primary btn-lg">Sort by Genre</button>
	</div>
</div>
<br>
<div class="table">
  <table class="table">
  	<thead>
		<tr>
	    	<th>Bands</th>
	    	<th>Venue</th>
	    	<th>Date</th>
	    	<th>Time</th>
	    	<th>Age</th>
	    	<th>Cost</th>
    	</tr>
    </thead>
<!--     <tr>
    	<td>Apples</td>
    	<td>Oranges</td>
    	<td>Triple Crown</td>
    	<td>12-Oct-2014</td>
    	<td>08:30</td>
    	<td>Fruit</td>
    	<td>21+</td>
    </tr>     -->

<!-- Display the next 10 shows -->
{% for show in shows %}
<tr>
	<td>
<!-- 	{% for order in show.showIDOrder.all %}
			<p2>{{order.bandID.bandName}}</p2><br>
			{% endfor %} -->
 Headliner is:<b> {{ show.showIDOrder.all.0.bandID.bandName }} </b><br>
 	{{ show.showIDOrder.all.1.bandID.bandName }}<br>
 	{{ show.showIDOrder.all.2.bandID.bandName}}


<!-- 	<p3>{{show.showIDorder.all.2.bandID.bandName}}</p3><br> -->
	</td>
	<td>{{show.showVenueID}}</td>
	<td>{{show.Date}}</td>
	<td>{{show.Time}}</td>
	<td>{{show.age}}</td>
	<td>{{show.cost}}</td>

</tr>

{% endfor %}



     </table>
</div>



</div>
</div>






</div>




{% endblock %}